@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* font-family: "Work Sans", serif; */
* {
    padding: 0;
    margin: 0;
}

/* shared style */

.btn-container {
    text-align: center;
}

.btn-container2 {
    margin-top: 64px;
    text-align: center;
}

.btn-primary {
    padding: 21px 32px;
    color: rgb(255, 255, 255);
    font-family: Work Sans;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
    border-radius: 8px;
    background: rgb(82, 195, 3);
    border: none;
    cursor: pointer;
}

#hero {
    /* background-image: url("../assets/hero-bg.png"); */
    background: linear-gradient(0deg, rgb(9, 9, 9) 2.884%, rgba(16, 16, 16, 0) 101.034%), url(../assets/hero-bg.png);
    height: 919px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#hero .hero_content {
    width: 1023px;
    height: 391px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}


#hero .hero_content .subtitle {
    color: rgb(255, 255, 255);
    font-family: Work Sans;
    font-size: 32px;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.8;
}


#hero .hero_content .title {
    color: rgb(255, 255, 255);
    font-family: Work Sans;
    font-size: 64px;
    font-weight: 700;
    line-height: 80px;
    letter-spacing: 0%;
    text-align: center;
}

#hero .hero_content .description {
    color: rgb(255, 255, 255);
    font-family: Work Sans;
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.7;
}

/* cardbox style */
#card_box {
    width: 1320px;
    margin: 167px auto;
}

.info .subtitle {
    color: rgb(0, 0, 0);
    font-family: Work Sans;
    font-size: 24px;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.8;
}

.info .title {
    color: rgb(0, 0, 0);
    font-family: Work Sans;
    font-size: 48px;
    font-weight: 700;
    line-height: 80px;
    letter-spacing: 0%;
    text-align: center;
}

/* card-style */
.card_container {
    margin-top: 48px;
    display: flex;
    gap: 24px;
}

.card {
    max-width: 424px;
    height: 522px;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

/* if image size is bigger or besize */
.card .img-box img {
    width: 424px;
    height: 283px;
}

/* .card .img-box img{
    width: 100%;
} */

.card .pizzz {
    padding: 14px 32px 14px 32px;
    border-radius: 8px;
    background: rgba(82, 195, 3, 0.15);
    color: rgb(16, 16, 16);
    font-family: Work Sans;
    font-size: 24px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: center;
}

.card .subtitle {
    color: rgb(0, 0, 0);
    font-family: Work Sans;
    font-size: 18px;
    font-weight: 500;
    line-height: 38px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.8;
}

.card .title {
    color: rgb(0, 0, 0);
    font-family: Work Sans;
    font-size: 40px;
    font-weight: 600;
    line-height: 80px;
    letter-spacing: 0%;
    text-align: center;
}

/* about us style */
#about_us {
    height: 671px;
}

.about_container {
    display: flex;
}

.food_info {
    width: 830px;
    height: 398px;
    margin: 136px 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.food_info .title {
    color: rgb(16, 16, 16);
    font-family: Work Sans;
    font-size: 40px;
    font-weight: 700;
    line-height: 64px;
    letter-spacing: 0%;
    text-align: center;
}

.food_info .subtitle {
    color: rgb(16, 16, 16);
    font-family: Work Sans;
    font-size: 24px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: left;
    opacity: 0.6;
    margin-bottom: 48px;
    text-align: center;
}

.follow {
    color: rgb(16, 16, 16);
    font-family: Work Sans;
    font-size: 32px;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.7;
    margin-bottom: 20px;
}
.food_info .social_logo {
    margin-top: 20px;
    display: flex;
    gap: 20px;
}

/* footer style */
#footer{
    background-image: url(../assets/social-bg.png);
    background: linear-gradient(240deg, rgb(230, 226, 226) 2.884%, rgba(166, 153, 153, 0) 101.034%),  url(../assets/social-bg.png);
    background-position: absolute;
    margin-top: 100px;
    height: 671px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer_info {
    width: 830px;
    height: 398px;
    margin: 136px 551px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer_info .title {
    color: rgb(16, 16, 16);
    font-family: Work Sans;
    font-size: 40px;
    font-weight: 700;
    line-height: 64px;
    letter-spacing: 0%;
    text-align: center;
}

.footer_info .subtitle {
    color: rgb(16, 16, 16);
    font-family: Work Sans;
    font-size: 24px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: left;
    opacity: 0.6;
    margin-bottom: 48px;
    text-align: center;
}

.footer_info .social_logo {
    margin-top: 20px;
    display: flex;
    gap: 20px;
}